*{
  font-family: Garamound;
  font-size: 14px;
}

h1{
  font-size: 36px;
}

body{
  background-color: #eeefee;
}

div{
  margin: 5px;
}

.newDiv{
  margin-top: 20px;
}

button{
  color: #987477;
}

.moreBtn{
  font-weight: bolder;
}
