<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rats in Restaurants</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
</head>
<body>
  <h1>RestauRats: Find the rats</h1>
  <div class='opaqueBox'>
    <form action= '/rats/show' id='ratsForm' method= 'GET'>
        <input type= 'text' class='ratField' name= 'descriptor' placeholder='Enter a descriptor'>
        <input type= 'text' class='ratField' name= 'status' placeholder='Enter a status'>
        <input type= 'text' class='ratField' name= 'street_name' placeholder='Enter a street'>
        <input type= 'text' class='ratField' name= 'borough' placeholder='Enter a borough'>
        <input type= 'submit' value='Find the rats'>
    </form>
  </div>
</body>
</html>
