<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rats in Restaurants</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme" rel="stylesheet">
</head>
<body>
  <div id='homepageBox'>
    <h1>RestauRats</h1>
      <br>
      <a href="http://localhost:3000/rats/">RATS</a>
      <br>
      <br>
      <br>
      <a href="http://localhost:3000/restaurants/">RESTAURANTS</a>
  </div>
</body>
</html>
