<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movies</title>
  <link rel="stylesheet" href="/style.css">
  <script src="script.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
  <header>
    <h1>You've arrived at Muvie Haus</h1>
  </header>
  <div class ="content1">
    <h2>Currently Playing</h2>
      <div id="currentMovies">
      </div>
  </div>
  <div class ="content2">
    <h2>Search for Films</h2>
      <form id = "searchForm">
        <input class="firstForm" id="input" type="text" name="name" value="" placeholder="Enter a movie title">
        <button id="searchButton" type="submit" name="button">Search</button>
      </form>
    <div id="moviesBox">
    </div>
  </div>
</body>
</html>
