<!-- //Buttons that will render list of buildings or apartments
Each with a link to their individual show views
Show should display the details of a specific building or apartment

 -->
 <!DOCTYPE html>
 <html>
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Seminara Sells</title>
   <link rel="stylesheet" href="/css/main.css">
  <script src="../js/script.js" type="text/javascript" charset="utf-8" async defer></script>
 </head>
 <body>
   <header>
     <h1>Jason Seminara Realty</h1>
   </header>
   <div id="buildingBtn">
     <button>Show all buildings</button>
   </div>
   <div id="apartmentBtn">
     <button>Show all apartments</button>
   </div>
   <div id="theBuildingsDiv">
   </div>
   <div id="theApartmentsDiv">
   </div>
 </body>
 </html>
